@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* font-family: 'Oswald', sans-serif; */

body{
    min-height: fit-content;
    height: 100vh;
    background-color: black;
}

.page{
    background-image: url('../img/accueil_fond.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 450px auto 450px;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
    height: calc(100vh - var(--margin-height));
    max-height: 1400px;
    overflow: auto;
    overflow-y: overlay;
}
.page::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(253, 253, 253);
}

.page::-webkit-scrollbar-thumb {

    background-color: grey;
  }
#partenaires{
    width: 250px;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(230, 230, 230, 0.651);
}

#partenaires img{
    width:200px;

}

#titre{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgb(255, 220, 220);
    font-size: 40px;
    cursor: pointer;
}

#titre h1, #titre h2{
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

#btn_inscription{
    text-shadow: 0 0 10px rgb(255, 255, 255);
    margin: auto;
    margin-top: 100px;
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: white;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 20px;
    border: 7px solid white;
    transition: 0.2s all;
}

#btn_inscription:hover{
    color: black;
    background-color: white;
}

#date_lieu{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#date_lieu h1{
    padding: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    background-color: white;
    transform: skew(-8deg);
}

#date_lieu h1:nth-child(2){
    margin-top: 30px;
    margin-right: 22px;
    font-size: 1.8em;
}

#date_lieu h1::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -11px;
    right: 0;
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, red, rgb(204, 0, 204));
  }

@media screen and (max-width: 1600px){
    #date_lieu h1{
        font-size: 1.4em !important;
    }
    .page{
        grid-template-columns: 350px auto 350px;
    }

    #btn_inscription{
        padding: 18px;
        font-size: 50px;
    }
    #titre{
        font-size: 35px;
    }
}

@media screen and (max-width: 1300px){
    #date_lieu h1{
        font-size: 1.1em !important;
    }

    .page{
        grid-template-columns: 250px auto 250px;
    }

    #btn_inscription{
        padding: 15px;
        font-size: 45px;
    }
    #titre{
        font-size: 30px;
    }

    #partenaires {
        width: 200px}

    #partenaires img{
        width:170px
    }
}

@media screen and (max-width: 1050px){

    .page{
        background-image: url('../img/accueil_fond_phone.webp');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }

    #partenaires{
        flex-wrap: wrap;
        padding: 10px 0;
        flex-direction: row;
        width: 100%;
        height:fit-content;
    }

    #titre{
        padding-top: 100px;
    }
    #partenaires img{
        width:130px;
    }
    #date_lieu{
        width: 70%;

        padding-top: 100px;
    }
}

@media screen and (max-width: 600px){
    #partenaires img{
        width:90px;
    }

    #date_lieu h1{
        font-size: 1.0em !important;
    }
    #titre{
        font-size: 20px;
        padding-top: 60px;
    }
    #date_lieu{
        padding-top: 70px;
    }
    #btn_inscription{
        padding: 12px;
        font-size:35px;
        border: 4px solid white;
        margin-top: 50px;
    }

}




  