@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    background-image: url('../img/accueil_fond.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.596);
    /* background: linear-gradient(#126989, black);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
}

.page{
    /* margin-top: 100px; */
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.274);
}

.titre{
    color: rgb(255, 255, 255);
    font-size: 50px;
    width: 100%;
    cursor: pointer;
}

h1, h2{
    text-align: center;
}


#btn_inscription{
    margin: auto;
    margin-top: 100px;
    display: block;
    font-size: 70px;
    text-decoration: none;
    color: white;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 20px;
    border: 7px solid white;
    transition: 0.2s all;
}

#btn_inscription:hover{
    color: black;
    background-color: white;
}