/* Header */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');



.page, header nav{
    --margin-height: 140px;
}
.page{
    padding-top : var(--margin-height);
    background-color: var(--main-bg-color);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Pathway Gothic One', sans-serif;  
   
    -webkit-appearance: none;
    -webkit-border-radius: 0;
        -webkit-box-shadow: none;

        -webkit-column-gap: 0;
        -webkit-column-rule: none;
        -webkit-filter: none;
        -webkit-flex: 0 1 auto;
        -webkit-flex-basis: auto;
        -webkit-flex-direction: row;
        -webkit-flex-flow: row wrap;
        -webkit-flex-grow: 0;
        -webkit-flex-shrink: 1;
        -webkit-flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -webkit-order: 0;
        -webkit-perspective: none;
        -webkit-perspective-origin: 50% 50%;
        -webkit-transform: none;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform-style: flat;
        -webkit-transition: none;
        -webkit-user-select: auto;
    
}

header{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    position: fixed;
}

header nav{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    max-width: 1920px;
    justify-content: space-between;
    margin: auto;
    height: var(--margin-height);
}

header nav ul{
    margin: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

header nav ul:nth-child(2) li:nth-child(4),header nav ul:nth-child(2) li:nth-child(5),header nav ul:nth-child(2) li:nth-child(6){
    display: none;
}


a#a_ic_account{
margin-right: 30px;
    display: none;
}



img#logo{
    width: 220px;
}

img#ic_account{
    width: 45px;
    cursor: pointer;
}



header nav ul li a.link{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 12px; 
    text-decoration: none;
    color : white;
    background-color: #126989;
    margin: 0 10px;
    transition: 0.4s all;
}


header nav ul li a.link:hover{
   background-color: white;
   color: black;
}
#openBtn{
    display: none;
}
.burger-icon span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 7px 0;
  }


body{
}
/* animation chargement page */

#html-spinner{
    pointer-events: none;
    display: none;
    opacity: 1; /* rendre l'élément complètement opaque au début */
    transition: opacity 0.5s ease-in-out; 
    width:40px;
    height:40px;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    border:4px solid #ffffff;
    border-top:4px solid rgb(27, 27, 27);
    margin-top: -20px; 
    margin-left: -20px;
    border-radius:50%;
}
#ecran-noir{
    pointer-events: none;
    opacity: 1; /* rendre l'élément complètement opaque au début */
    transition: opacity 0.3s ease-in-out; 
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999998;
    background-color: black;
}




#html-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

@media screen and (max-width: 1600px){

    
    .page, header nav{
        --margin-height: 120px;
    }
    header nav ul li a.link{
        font-size: 18px;
        letter-spacing: 1px;
        padding: 8px; 

    }

    img#logo{
        width: 180px;
    }
    img#ic_account{
        width: 35px;
    }

    
}

@media screen and (max-width: 1050px){

    #openBtn{
        display: block;
        margin-left: 40px;
    }
    header nav ul:nth-child(2){
        z-index: 9999;
        margin: 0;
        padding: 15px;
        background-color: rgba(15, 15, 15, 0.829);
        height: calc(100vh - 100px);
        overflow-y: auto;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        position: absolute;
        top : 100%;
        transition: 0.2s all;
    }

    .page, header nav{
        --margin-height: 100px;
    }

    header nav ul.afficher{
        transform: translateX(0);
    }
    header nav ul:nth-child(2) li:nth-child(4),header nav ul:nth-child(2) li:nth-child(5),header nav ul:nth-child(2) li:nth-child(6){
        display: block;
    }

    header nav ul li{
        margin: 20px 0;
    }
    header nav ul li a.link{
        display: block;
        width: 100px;
        font-size: 20px;
        text-align: center;
    }

    img#logo{
        width: 130px;
    }

    header nav ul:nth-child(4){
        display: none;
    }
    
    header nav ul:nth-child(4){
        transform: translateY(85%);
    }
    header nav {
        position: relative;
    }

    a#a_ic_account{
        margin-right: 30px;
        display: block;
    }


}


@media screen and (max-width: 600px){

    .page, header nav{
        --margin-height: 70px;
    }
    header nav ul li{
        margin: 15px 0;
    }
    header nav ul:nth-child(2){
        height: calc(100vh - 70px);
    }
   
    header nav ul li a.link{
        width: 80px;
        font-size: 15px;

    }
    
    #openBtn{
        margin-left: 20px;
    }
      img#logo{
        width: 100px;
    }

    a#a_ic_account{
        margin-right: 22px;

    }

    img#ic_account{
        width: 25px;
    }

    .burger-icon span {
        width: 25px;
        height: 2px;
        margin: 5px 0;
      }

}

@media screen and (max-width: 400px){
    header nav ul li a.link{
        width: 70px;
        font-size: 13px;

    }
    img#logo{
        width: 80px;
    }
    

      img#ic_account{
        width: 22px;
    }
    .burger-icon span {
        width: 22px;
        height: 1px;
        margin: 4px 0;
      }
}