/* Header */


header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    margin: auto;
}

header nav ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
