body{
    background: linear-gradient(#126989, rgb(29, 29, 29));
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}

.container{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    background-color: #1188ac67;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container form{
    display: flex;
    flex-direction: column;
}

.container form label{
    margin: 20px 0px 5px 0;
    font-size: 20px;
}
.container form input,.container form select{
    font-size: 20px;
    width: auto;
    padding: 10px;
}

.container form button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}