body{
    background-color: black;
}

.page{
    background-image: url('../img/accueil_fond.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - var(--margin-height));
}

.container{
    color: white;
    margin: 20px auto;
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #000000ab;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container form{
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    display: grid;
    column-gap : 40px;
}

.container form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container form div:nth-child(5){
    grid-column: span 2;
}

.container form label{
    margin: 20px 0px 5px 0;
    font-size: 20px;
}
.container form input,.container form select{
    font-size: 20px;
    width: auto;
    color: black;
    padding: 10px;
}

.container form button{
    color: black;
    border: none;
    background-color: #ffffff;
    width: 100%;
    margin-top: 50px;
    grid-column: span 2;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.container form button:hover{
    background-color: #126989;;
}

.errorSpan{
    grid-column: span 2;
    font-size: 20px;
    padding-top: 20px;
    color: red;
    text-align: center;
}

@media screen and (max-width: 1050px){
    .page{
        background-image: url('../img/accueil_fond_phone.webp');
    }

    .container{
        width: 600px;
    }

    .container form label,.container form input,.container form select {
        font-size:12px;
    }
    .container form button{

        margin-top: 40px;
        font-size: 15px;
        padding: 8px;
        cursor: pointer;
    }



}
@media screen and (max-width: 700px){

    #errorSpan{
        font-size: 13px;
    }
    .container{
        width: 400px;
    }

    .container form {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 500px){

    .container{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container h1{
        text-align: center;margin-top: 30px;
    }



}